#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
/Encryption/bin/Debug/Encryption.exe
/Encryption/bin/Debug/Encryption.pdb
/Encryption/Encryption.csproj
/Encryption/obj/Debug/Encryption.csproj.GenerateResource.Cache
/Encryption/obj/Debug/Encryption.exe
/Encryption/obj/Debug/Encryption.pdb
/Encryption/bin/Debug/Encryption.exe
/Encryption/obj/Debug/Encryption.exe
/Encryption/obj/Debug/Encryption.csproj.GenerateResource.Cache
/Encryption/bin/Debug/Encryption.exe
/Encryption/obj/Debug/Encryption.exe
